/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700&display=swap');
 
html{
    scroll-behavior: smooth;
}
nav{
    position: sticky;     /* Navbar chipak jayega. */
    top: 0; /* Screen ke top par rahega. */
    z-index: 1000; /* Dusre elements ke upar dikhega. */
    background: white;
}
.hero-text{
   animation: fadeUp 1s ease; /* Heading ko page load hone par smoothly neeche se lao. */
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }

    to{
        opacity: 0;
        transform: translateY(0);
    }
}
.hero img{
    animation: zoomIn 1.2s ease;
}

@keyframes zoomIn{

    from{
        opacity: 0;
        transform: scale(0.8);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}
.btn{
    transition: 0.3s;
}
.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(37,99,235,0.3);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background: #f8fafc;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #0f172a;
}
nav h2{
    color: white;
    font-size: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    color: #38bdf8;
}
.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 60px;
    margin-bottom: 15px;
}
.hero h2{
    font-size: 32px;
    color:#2563eb;
    margin-bottom: 20px;
}
.hero p{
    width: 700px;
    max-width: 90%;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 30px;
}
.hero button{
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.hero button:hover{
    background: #1d4ed8;
    transform: scale(1.05);
}
.about{
    padding: 80px 100px;
    background: #f8fafc;
}
.about-content{
    max-width: 800px;
    margin: auto;
}
.about h2{
    font-size: 40px;
    color: #2563eb;
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #444;
}
.about h3{
    font-size: 28px;
    margin-bottom: 15px;
}
.about ul{
    padding-left: 20px;
}
.about ul li{
    font-size: 18px;
    margin-bottom: 10px;
}
.footer{
    background: #0f175a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.footer p{
    font-size:16px;
}
.projects{
    padding: 80px 100px;
    background: #ffffff;
    text-align: center;
}
.projects h2{
    font-size: 40px;
    color: #2563eb;
    margin-bottom: 40px;
}
.Project-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.project-card{
    width: 280px;
    background: #f8fafc;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.project-card:hover{
   transform: scale(1.05);
    border: 1px solid #2563eb;
    box-shadow: 0 0 8px rgba(37, 99, 235, 0.3);
}

.Contact{
    padding: 80px 100px;
    background: #f8fafc;
    text-align: center;
}
.Contact h2{
    font-size: 40px;
    color: #2563eb;
    margin-bottom: 40px;
}
.Contact-form{
    max-width: 600px;
    margin: auto;
}
.Contact-form input,
.Contact-form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}
.Contact-form input:focus,
.Contact-form textarea:focus{
    border: 1px solid #2563eb;
    outline: none;
    box-shadow: 0 0 8px rgba(37, 99, 235, 0.3);
}
.Contact-form button{
    display: block;
    margin: 0 auto;
    background:#2563eb;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.Contact-form button:hover{
    background:#1d4ed8;
}
@media (max-width:768px){

    nav{
        flex-direction: column;
        padding: 20px;
    }

    nav ul{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }
.hero h1{
    font-size: 32px;
}

.hero p{
    font-size: 16px;
}
    .project-container{
        flex-direction: column;
        align-items: center;
    }

    .project-card{
        width: 90%;
    }

    .contact{
        padding: 50px 20px;
    }

    .contact-form{
        width: 100%;
    }
}
body.dark-mode {
    background-color: black;
    color: white;
}
body{
    transition: all 0.4s ease;
}
.btn{
    transition: 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
    background-color: #2563eb;
    color: white;
}
.btn:active{
    transform: scale(0.95);
}
body.dark-mode h1{
    text-shadow: 0 0 10px white;
}
.password-box{
    position: relative;
    width: 100%;
}

.password-box input{
    width: 100%;
    padding: 15px;
    padding-right: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#toggle-password{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #808080;
    font-size: 18px;
    cursor: pointer;
}

#toggle-password:hover{
    color: #555;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
.Contact-form button{
    width: 100%;
}
.Products{
    padding: 80px 100px;
    background: #f8fafc;
    text-align: center;
}

.Products h2{
    font-size: 40px;
    color: #2563eb;
    margin-bottom: 40px;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card {
    width: 250px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    transition: .3s;
    padding: 20px;
}

.card:hover {
    transform: translateY(-8px);
    border: 2px solid #2563eb;
    box-shadow: 0 0 8px rgba(37, 99, 235, 0.3);
}
.card img{
    width:100%;
    height:180px;
    object-fit:contain;
    margin-bottom:15px;
}

.card h3{
    margin-bottom:10px;
    font-size:24px;
}

.card p{
    color:#2563eb;
    font-size:22px;
    font-weight:bold;
}
.skills{
    padding: 80px 100px;
    background: #ffffff;
    text-align: center;
}

.skills h2{
    font-size: 40px;
    color: #2563eb;
    margin-bottom: 40px;
}

.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card{
    width: 160px;
    padding: 20px;
    background: white;
    border: 2px solid #d1d5db;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.skill-card:hover{
    transform: translateY(-5px);
    border: 2px solid #2563eb;
    box-shadow: 0 0 10px rgba(37,99,235,.3);
}

.skill-card h3{
    color: black;
    font-size: 22px;
}